<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.witfrog.gtse">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- bar -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> <!-- 读写内存 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.web.WebActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.forgetpassword.ForgetPasswordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.usualcontacts.UsualContactsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.usualcontactsdetail.UsualContactsDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.usualaddress.UsualAddressActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.usualaddressdetail.UsualAddressDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.integral.IntegralActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.order.OrderActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.address.AddressActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.security.SecurityActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.invite.InviteActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.shop.commodity.CommodityActivity" />
        <activity android:name=".ui.shop.order.ConfirmOrderActivity"></activity>
    </application>

</manifest>